.wrapper {
    margin: 5px;
}

h1 {
    text-align: center;
}

body {
    background-color: lightgray;
}

.background-one {
    background-color: blue;
    padding: 7px;
}

/* We're using cominators again */
/* This means any p tag inside of an element with the background class will have white text */
.background-one p {
    color: white
}

.background-two {
    /* This allows us to set an image to the background */
    background-image: url("../Assets/upfeathers.png");

    /* When you only give a padding/margin two values, it uses the first four the top/bottom and teh second for the right/left */
    padding: .5em 1em;
}

/* We can also use a gradient for our background in CSS */
.rainbow-container {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}